@font-face{font-family: Font;src: url('../font/RobotoCondensed-Regular.ttf');}
@font-face{font-family: FontItalic;src: url('../font/RobotoCondensed-LightItalic.ttf');}
@font-face{font-family: FontTitle;src: url('../font/RobotoCondensed-Regular.ttf');}
@font-face{font-family: FontBold;src: url('../font/RobotoCondensed-Bold.ttf');}
@font-face{font-family: FontMenuBold;src: url('../font/RobotoCondensed-Regular.ttf');}
html, body{position: relative; margin: 0; padding: 0; font-family: Font; font-size: 11pt; width: 100%; height: 100%; color: #343434}
header{border-bottom: 1px #ebebeb solid; margin-bottom: 8px; position: absolute; height: 90px; z-index: 99;
    opacity: 0.9; width: 100%; background: white;}
#mini-header{height: 30pt; float: right}
.div-center{width: 980px; position: relative; margin: 0 auto;}
.logo{width: 86px; height: 84px; position: relative; background: url("../img/logo.jpg") no-repeat; background-size: 100% 100%; background-position: center center;
      margin-top:4px;margin-bottom: 4px; float: left}
.logo>a{text-decoration: none;}
.logo>a>h1{color: transparent; margin: 0; padding: 0;}
.clear{clear: both}
nav{position: absolute; text-align: center; width: 980px; z-index: 98; background: white; left: 190px;
    top:90px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); border-radius: 0 0 4px 4px; height: 50px;}
nav>ul, #datos-ubicacion{padding: 0; margin: 0;}
nav>ul>li, #datos-ubicacion>li{display: inline-block; padding-left: 30px; padding-right: 30px;padding-bottom: 4px;
    -webkit-transition: 600ms all;
    -moz-transition: 600ms all;
    -ms-transition: 600ms all;
    -o-transition: 600ms all;
    transition: 600ms all;}
nav>ul>li{line-height: 50px; text-transform: uppercase}
nav>ul>li:hover{height: 40px;}
nav>ul>li:hover a{border-bottom: 2px #fc3cf4 solid;}
nav>ul>li>a{text-decoration: none; color: #343434; font-size: 11pt; }
nav>ul>li>.sub-menu{display: none; padding: 0; margin: 0; text-align: left; position: absolute; top: 44px; background: #fc3cf4; border-radius: 4px; padding: 6px 20px 6px 20px; }
/*nav>ul>li:hover .sub-menu{ display: block; }*/
nav>ul>li>.sub-menu>li{ padding-bottom: 4px; list-style: none; position: relative; line-height: 30px;}
nav>ul>li>.sub-menu>li>a{color:white; text-decoration: none; width: 100%}
nav>ul>li>.sub-menu>li>a:hover{font-family: FontBold}
#datos-ubicacion>li>img{ position: absolute;}
#datos-ubicacion>li{padding-top: 6px;}
#datos-ubicacion>li>span{padding-left: 30px;}
.unslider-nav,.unslider-arrow{display: none}
.my-slider img{width: 100%}
h2,h3,h4,h5{margin: 0; padding: 0; font-family: FontTitle;}
p{margin-top: 0;}
.triangulo{
    width: 0;
    height: 0; position: absolute;
    border-right: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 16px solid #fc3cf4; top: -30px;
}
.proximo-evento{background: #F8F7F3; box-shadow: 0 2px 0 rgba(0,0,0,.07);   margin-top: -3px;    padding: 12px 0;}
.evento{background: url("../img/icon-calendario.png") no-repeat; padding-left: 60px;float: left; width: 156px;}
/*.a_o,.mes{background: #fc3cf4; margin: 0; padding: 0; position: relative; border-radius: 6px; margin-top: 4px; width: 40px}*/
.fecha{background: #fc3cf4; color: white; border-radius: 4px; margin-top: 0;}
.date>p{margin: 0}
.date>p:first-child{width: 88px; font-family: FontTitle; padding: 4px;}
.date>p:last-child{font-size: 14pt; font-family: FontTitle;}
.resumen-evento{float: left; width: 384px;}
.resumen-evento>h2{font-family: FontSubTitle; font-style: italic}
.resumen-evento>p{font-style: italic}
.cuenta-regresiva{float: right; width: 362px;}
.link-evento{position: absolute; right: 0}
.btn{background: #fc3cf4; padding: 14px 20px; border-radius: 4px; color: white; text-decoration: none; font-family: FontTitle; border-bottom: 3px #ca07db solid;webkit-transition: 200ms all;
    -moz-transition: 600ms all;
    -ms-transition: 600ms all;
    -o-transition: 600ms all;
    transition: 600ms all;}
.btn:hover{background: #940094}

.icon-sociales{width: 180px; margin: 0; padding: 0; position: absolute; right: 0px; top: 44px;}
.icon-sociales li{list-style: none; display: inline-block; margin-left: 20px;}
.icon-sociales li img{width: 30px;}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    font-size: 20px;
}

#clockdiv > div{
    padding: 4px 10px;text-align: center;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 5px 20px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 12px;
}